<tr id="objective_<%= objectives[i].id %>">
  <!-- <td><%= objectives[i].id %></td> -->
  <td>|<%= objectives[i].type %></td>
  <td>|<%= objectives[i].question %></td>
  <td>|<%= objectives[i].answer %>|</td>
  <!-- <td><%= objectives[i].day_id %></td>
  <td><%= objectives[i].sort %></td> -->
  <!-- <td></td> -->
</tr>