<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Objectives for <%= day_mnemonic %></title>
    <%- include('include/_head.ejs') %>
  </head>
  <body>
    <!-- <%- include('include/_header.ejs') %> -->
    <h2><%= day_mnemonic %></h2>
    <table>
      <colgroup>
        <col style="width:20%">
        <col style="width:60%">
        <col style="width:20%">
      </colgroup>
      <tbody>
        <tr>
          <!-- <th>Actions</th> -->
          <!-- <th>id</th> -->
          <!-- <th>type</th> -->
          <th class="objective">question</th>
          <th class="answer">answer</th>
          <th class="understand">understand?</th>
          <!-- <th>day_id</th>
      <th>sort</th> -->
        </tr>
        <% for(var i=0; i < objectives.length; i++) { %>
        <tr id="objective_<%= objectives[i].id %>">
          <!-- <td><%= objectives[i].id %></td> -->
          <!-- <td>|<%= objectives[i].type %></td> -->
          <td class="objective"><%= objectives[i].question %></td>
          <td class="answer"><pre class="answer <%= objectives[i].format %>"><%= objectives[i].answer %></pre></td>
          <!-- <td><%= objectives[i].day_id %></td>
        <td><%= objectives[i].sort %></td> -->
          <td class="understand">
            <select data-id="<%= objectives[i].id %>">
              <option value="0">understand?</option>
              <option value="1">confused</option>
              <option value="2">fair</option>
              <option value="3">excellent</option>
            </select>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      (function($) { $(document).ready(function(){
        $('select').on('change', function(){
          let path = '/understanding/' 
          + $(this).attr('data-id')
          + '/' + $(this).val();
          $.ajax({url: path});
        });
      }); })(jQuery);
    </script>
  </body>
</html>
