<!DOCTYPE html>
<html lang="en">
<head>
  <title>Objectives</title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
  <form>
    <input type="text" id="search-input" width="40" placeholder="filter rows"/>
  </form>
  <table>
  <tr>
    <!-- <th>Actions</th> -->
    <!-- <th>id</th> -->
    <th>type</th>
    <th>question</th>
    <th>answer</th>
    <!-- <th>day_id</th> -->
    <!-- <th>sort</th> -->
  </tr>
  <% for(var i=0; i < objectives.length; i++) { %>
    <tr id="objective_<%= objectives[i].id %>">
      <!-- <td><%= objectives[i].id %></td> -->
      <td><%= objectives[i].type %></td>
      <td><%= objectives[i].question %></td>
      <td><%= objectives[i].answer %></td>
      <!-- <td><%= objectives[i].day_id %></td>
      <td><%= objectives[i].sort %></td> -->
      <!-- <td></td> -->
    </tr>
  <% } %>
</table>
<script>
(function($) { $(document).ready(function(){
  $('#search-input').on('input', function(event){
    event.preventDefault();
    if ($(this).val().length > 2){
      $('td:first-child').parent(`tr:not(:contains(${$(this).val()}))`).hide();
    } else {
      $('tr').show();      
    }
  });
}); })(jQuery);
</script>
</body>
</html>
