<!DOCTYPE html>
<html lang="en">
<head>
  <title>Objectives for <%= day_mnemonic %></title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
  <form action="/day-edit" method="POST">
    <input type="hidden" name="id" value="<%= day_id %>"/>
    <input type="text" name="day_mnemonic" value="<%= day_mnemonic %>" placeholder="Day Mnemonic"/>
    <input type="text" name="title" value="<%= title %>" placeholder="Day/Lecture Title"/>
    <input type="submit" value="Save"/>
  </form>
  <a href="/days/<%= day_id %>">read</a>
  <a href="/new/<%= day_id %>">new</a>
  <a href="/student/<%= day_id %>">quiz view</a>
  <table>
    <colgroup>
      <!-- <col style="width: 10%;"/> -->
      <col style="width: 10%;"/>
      <col style="width: 40%;"/>
      <col style="width: 40%;"/>
      <col style="width: 10%;"/>
    </colgroup>
    <tr>
      <!-- <th>Actions</th> -->
      <!-- <th>id</th> -->
      <th>type</th>
      <th>question</th>
      <th>answer</th>
      <th>action</th>
      <!-- <th>day_id</th>
      <th>sort</th> -->
    </tr>
    <% for(var i=0; i < objectives.length; i++) { %>
      <tr>
        <!-- <td><%= objectives[i].id %></td> -->
        <form action="/edit" method="POST"><input type="hidden" name="id" value="<%= objectives[i].id %>"></input>
          <td>
            <select id="type" name="type">
              <% if ("learning" == objectives[i].type) { %>
                <option value="learning" selected>Learning</option>
                <option value="performance">Performance</option>
              <% } else { %>
                <option value="learning">Learning</option>
                <option value="performance" selected>Performance</option>
              <% } %>
            </select>
          </td>
          <td><textarea name="question" rows="5" cols="50"><%= objectives[i].question %></textarea></td>
          <td><textarea name="answer" rows="5" cols="50"><%= objectives[i].answer %></textarea></td>
          <td>
            <input type="submit" name="Save" value="Save"></input>
            <a href="/delete/<%= objectives[i].id %>">Delete</a>
          </td>
          <input type="hidden" name="day_id" value="<%= objectives[i].day_id %>"></input>
          <input type="hidden" name="sort" value="<%= objectives[i].sort %>"></input>
        </form>
      </tr>
    <% } %>
  </table>
</body>
</html>
