<!DOCTYPE html>
<html lang="en">
<head>
  <title>Objectives for <%= day_mnemonic %></title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
  <h2><%= day_mnemonic %></h2>
  <a href="/days/<%= day_mnemonic %>">read</a>
<table>
  <tr>
    <th>Actions</th>
    <!-- <th>id</th> -->
    <th>type</th>
    <th>question</th>
    <th>answer</th>
    <th>day_id</th>
    <th>sort</th>
  </tr>
  <% for(var i=0; i < objectives.length; i++) { %>
    <%- include('include/_objectiveRow-edit.ejs',{i}) %>
  <% } %>
</table>

</body>
</html>
