<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SPOTlight: Days</title>
    <%- include('include/_head.ejs') %>
  </head>
  <body>
    <%- include('include/_header.ejs') %>

    <table>
      <tr>
        <th>Week</th>
        <th>Day 1</th>
        <th>Day 2</th>
        <th>Day 3</th>
        <th>Day 4</th>
        <th>Day 5</th>
      </tr>

      <% for(var i=0; i < days.length; i++) { %> 
        <% if (i % 5 === 0) { %>
          <tr><td>Week <%= i/5 + 1 %></td>
        <% } %>
        <td>
          <a href="/days/<%= days[i].id %>"><%= days[i].title %>[&nbsp;]</a><br/>
          (<%= days[i].count %>)<br/>
          <a href="/student/<%= days[i].id %>">[list + feedback]</a>
        </td>
        <% if (i % 5 === 4) { %>
          </tr>
        <% } %>
      <% } %>
    </table>
  </body>
</html>
