<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Objective</title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
  <form action="/edit" method="POST">
  <label for="type">Type</label>
  <select id="type" name="type">
    <option value="learning">Learning</option>
    <option value="performance">Performance</option>
  </select>
  <input type="hidden" name="id" value="<%= id %>">
  <label for="question">Question</label>
  <input id="question" name="question" type="text" value="<%= question %>"></input>
  <label for="answer">Answer</label>
  <input id="answer" name="answer" type="text" value="<%= answer %>"></input>
  <label for="sort">Sort</label>
  <input id="sort" name="sort" type="text" value="<%= sort %>"></input>
  <label for="day_id">Day</label>
  <input id="day_id" name="day_id" type="text" value="<%= day_id %>"></input>
  <input type="submit" name="Save"></input>
</form>
</body>
</html>
