<!DOCTYPE html>
<html lang="en">
<head>
  <title>Objectives</title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
<table>
  <tr>
    <th>Actions</th>
    <!-- <th>id</th> -->
    <th>type</th>
    <th>question</th>
    <th>answer</th>
    <!-- <th>sort</th> -->
    <th>day_id</th>
  </tr>
  <% for(var i=0; i < objectives.length; i++) { %>
    <tr>
      <td><form action="/delete/<%= objectives[i].id %>" method="POST"><input type="submit" value="Delete"></form></td>
      <!-- <td><%= objectives[i].id %></td> -->
      <td><%= objectives[i].type %></td>
      <td><%= objectives[i].question %></td>
      <td><%= objectives[i].answer %></td>
      <!-- <td><%= objectives[i].sort %></td> -->
      <td><a href="/days/<%= objectives[i].day_id %>"><%= objectives[i].day_id %></a></td>
    </tr>
  <% } %>
</table>

</body>
</html>
